*{
  margin:0;
}
body{
  background: lightgrey;
}
main{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
main img{
  width:7%;
  height:100vh;
}
