*{
  margin:0;
}
body{
  background: lightgrey;
}
main{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
main img{
  width:7%;
  height:calc(100vh - 1px);
  border-right:red 1px solid;
}
.onCl{
  width:900px;
  height:100%;
}
.onOff{
  width:var(--widthPr);
  height:calc(100vh - 15px);
  border-right:red 1px solid;
}
:root{
  --widthPr:2%;
}
@media(min-width:1800px){
  :root{
    --widthPr:3.7%;
  }
}
/* @media(min-width:1279px){
  :root{
    --widthPr:2%;
  }
} */
